.ghost-hdm {
	height: 3.1vw;
}

.hdm {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #111;
  height: 3.1vw;
	width: 100vw;
	position: fixed;
}

.hd-ul ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.hd-ul ul li {
  display: flex;
  padding: 0.9vw;
  transition: background 0.3s ease-in-out;
}

ul li:hover {
  background: #4e4c4c;
  cursor: pointer;
}

.hd-ul ul a {
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
	user-select: none;
}

.dsh {
  justify-self: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
  padding: 5px;
  border-radius: 100px;
  margin-left: 20px;
  transition: 0.3s;
}

.dsh p {
  font-size: 24px;
  color: rgb(94, 94, 94);
}

.dsh:hover {
  background-color: #717171;
}
