<div class="fs-vw">
	<div class="inf-card">
		<h1>Information:</h1>
		<p>Diese Webseite ist noch im Aufbau. Bitte melden Sie etwaige Bugs oder ähnliches.</p>
	</div>
	<div class="inf-card">
		<h1>Unser Unternehmen:</h1>
		<p>Unser Unternehmen will Geld. Viel Geld. Zur Not auch von Rentnern, die gar nicht verstehen können, wie wir sie abzocken.</p>
	</div>
	<div class="inf-card">
		<h1>Dafür stehen wir:</h1>
		<p>Wir stehen für nichts, außer für ein ordentliches Schnitzelweck an der Globustheke. Und der scheiß Flatterstrom geht mir sowieso auf den Sack.</p>
		<img src="https://media.licdn.com/dms/image/v2/D4E03AQE1LtPs563QKQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1688161634016?e=1744848000&v=beta&t=gzHgYtS5_yh4HsOhY9BAJkZ92Su-kC5jsUBk4puQX1A" alt="">
	</div>
	<div class="inf-card">
		<h1>Unser Unternehmen:</h1>
		<p>Unser Unternehmen will Geld. Viel Geld. Zur Not auch von Rentnern, die gar nicht verstehen können, wie wir sie abzocken.</p>
	</div>
</div>