.sidenav {
  background-color: #0f0f0f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  width: 0vw;
  height: 100vh;
	position: fixed;
	transition: width 0.5s;
}

.sidenav.open {
	width: 18vw;
}

.actual-sidenav {
  transition: 0.5s width;
  width: 0vw;
}

.actual-sidenav.open {
	width: 18vw;
}

.sidenav button {
  width: 100%;
  cursor: pointer;
  padding: 10px 15px 10px 0;
  background: #222;
  color: #aaa;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  font-size: 1vw;
  border: #0f0f0f;
	white-space: nowrap;
}

.sidenav button:hover {
  background: #444;
  color: #fff;
}

.sidenav a {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-decoration: none;
  font-size: 1vw;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: #1e1c1c;
  cursor: pointer;
  padding-left: 10px;
	white-space: nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
}
