
<div class="actual-sidenav" [ngClass]="{ 'open': isVisible }"></div>

<div id="mySidenav" class="sidenav" [ngClass]="{ 'open': isVisible }">

	@for (button of dashboard.buttons; track $index) {
		@if(button.routerLink) {
			<button [routerLink]="button.routerLink">{{ button.label }}</button>
		} @else {
			<button (click)="toggleExpand(button.label)">{{ button.label }}</button>
			@if (activeButton && activeButton === button.label) {
				<div @dropdownAnimation>
					@for (item of button.items; track $index) {
						<a routerLink="{{ item.routerLink }}" draggable="false">{{ item.label }}</a>
					}
				</div>
			}
		}
	}
</div>

