<div class="fullScreenModal">
    <div class="modal-header">
        <div class="avatar">{{ fahrschueler?.vorname?.charAt(0) }}{{ fahrschueler?.name?.charAt(0) }}</div>
        <div class="info">
            <h2>{{ fahrschueler?.vorname }} {{ fahrschueler?.name }}</h2>
            <p>Email: {{ fahrschueler?.email }}</p>
            <p>Telefon: {{ fahrschueler?.phone }}</p>
            <p>Geburtsdatum: {{ fahrschueler?.geburtsdatum | date:'dd.MM.yyyy' }}</p>
            <p>Klassen: {{ fahrschueler?.klassen?.join(', ') }}</p>
            <p>Adresse: {{ fahrschueler?.strasse }}, {{ fahrschueler?.ort }}</p>
        </div>
    </div>
    
		<div class="right-side">
		<div class="content-bar">
    <div class="tabs">
        <button (click)="selectedTab = 'praxis'" [class.active]="selectedTab === 'praxis'">Praxisstunden</button>
        <button (click)="selectedTab = 'theorie'" [class.active]="selectedTab === 'theorie'">Theoriestunden</button>
        <button (click)="selectedTab = 'profil'" [class.active]="selectedTab === 'profil'">Profil</button>
    </div>
    
    <div class="content">
        <div *ngIf="selectedTab === 'praxis'" class="praxis-content">
						@if (praxisstundenList.length > 0) {
							<button class="arrow left" (click)="scrollLeft()">
								<svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<path d="M15 18l-6-6 6-6"></path>
								</svg>
							</button>
            <div class="praxis-list-wrapper" #praxisContainer>
                <div class="praxis-list">
                  @for (praxis of praxisstundenList; track $index) {
										<app-praxisstunde-card [praxis]="praxis" />
									}
                </div>
            </div>
							<button class="arrow right" (click)="scrollRight()">
								<svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<path d="M9 6l6 6-6 6"></path>
								</svg>
							</button>
						} @else {
							<p class="error-message-content">Keine Praxisstunden vorhanden bisher</p>
						}
        </div>
        
        <div *ngIf="selectedTab === 'theorie'">
            <p class="error-message-content">Keine Theoriestunden gefunden.</p>
        </div>
        
        <div *ngIf="selectedTab === 'profil'">
            <p class="error-message-content">Aktuell nicht verfügbar</p>
        </div>
    </div>
		</div>
  
		</div>
		<button class="close-btn" (click)="closeModal()">Schließen</button>
</div>